:root {
	--CTA_text: hsl(356, 100%, 66%);
	--CTA_hover_background: hsl(355, 100%, 74%);
	--headings: hsl(208, 49%, 24%);

	--bg-veryDarkGrayBlue: hsl(237, 17%, 21%);
	--bg-veryDarkDesaturtedBlue: hsl(237, 23%, 32%);

	--main-transition: 0.2s;
}
body {
	font-family: "Overpass", sans-serif;
	overflow-x: hidden;
}
/* intro style  */
nav,
footer {
	font-family: "Ubuntu", sans-serif;
}
.intro {
	position: relative;
	min-height: 35vh;
	background: var(--CTA_hover_background);
	background-image: url("../images/bg-pattern-intro-desktop.svg");
	background-image: url("../images/bg-pattern-intro-desktop.svg"),
		linear-gradient(
			155deg,
			var(--CTA_hover_background) 27%,
			var(--CTA_text) 70%
		);
	background-size: 125%;
	background-position: center;
	border-bottom-left-radius: 3em;
}
.intro .container {
	position: relative;
}
.dropdown-toggle::after {
	display: none;
}
.dropdown .arrow {
	color: white;
	font-size: 0.6em;
	top: 40%;
	right: -5px;
	transition: all var(--main-transition) ease-in-out;
}
.dropdown-item {
	transition: all var(--main-transition) ease-in-out;
}
nav .dropdown-toggle:hover {
	color: white !important;
}
.dropdown-item:hover {
	font-weight: 500;
}
.intro .btn,
.intro .btn a {
	font-family: "Ubuntu", sans-serif;
	transition: all var(--main-transition) ease-in-out;
}
.intro .introText .learn:hover a {
	color: var(--CTA_hover_background) !important;
}
@media only screen and (max-width: 600px) {
	.intro {
		height: 60vh;
		background-size: 400%;
	}
	.intro .introText {
		height: calc(75vh - 56px);
		justify-content: center;
	}
	nav .dropdown-toggle:hover {
		color: var(--bs-dropdown-border-color) !important;
	}
}
/* nav style  */
.signup {
	border: none;
}
.signup a {
	color: var(--CTA_text);
}
.signup:hover {
	background-color: var(--CTA_hover_background) !important;
}
.signup:hover a {
	color: white;
}

/* menu style  */
.menu-btn {
	display: none;
}
@media only screen and (max-width: 600px) {
	.menu-btn {
		display: block;
	}
	.navbar-collapse {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		top: 120%;
		left: 50%;
		transform: translateX(-50%);
		background-color: white;
		padding: 20px;
		width: 100%;
		border-radius: 7px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
			rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	}
	.navbar-nav .dropdown-menu {
		border: none;
		background-color: #eee;
		transition: all var(--main-transition) ease-in-out;
		width: 100%;
	}
	.navbar-collapse li {
		font-size: 1.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0 !important;
	}
	.navbar-collapse .nav-item:last-of-type {
		padding-bottom: 20px !important;
		border-bottom: 1px solid #eee;
	}
	.nav-item {
		width: 100%;
	}
	.navbar-collapse li .arrow {
		color: var(--CTA_text) !important;
		right: -20px;
	}
	.navbar-collapse a {
		width: fit-content;
		color: var(--bg-veryDarkDesaturtedBlue) !important;
	}
	nav .nav-link {
		margin-bottom: 1em;
	}
	nav .login {
		font-size: 1em;
	}
	nav .signup {
		background-color: var(--CTA_text);
		background-image: linear-gradient(
			155deg,
			var(--CTA_hover_background) 27%,
			var(--CTA_text) 70%
		);
		padding: 14px 48px !important;
	}
	nav .signup a {
		color: white !important;
		font-size: 1.2em;
	}
}
/* section 2 style  */
section .container {
	height: inherit;
}
section:nth-of-type(2) .container .title,
section:nth-of-type(4) .container .title {
	margin-top: 2.5em;
	font-size: 1.75em;
	color: var(--bg-veryDarkDesaturtedBlue);
}
section:nth-of-type(2) .container .laptop-img,
section:nth-of-type(4) .container .laptop-img {
	top: 50%;
	transform: translateY(-50%);
}
section:nth-of-type(2) .container .row h1,
section:nth-of-type(4) .container .row h1 {
	color: var(--bg-veryDarkDesaturtedBlue);
}
@media screen and (min-width: 768px) {
	/* For Laptops */
	section:nth-of-type(2) .container img,
	section:nth-of-type(4) .container img {
		width: 100%;
	}
	section:nth-of-type(2),
	section:nth-of-type(4) {
		height: 100vh;
	}
	section:nth-of-type(2) .container .row,
	section:nth-of-type(4) .container .row {
		height: 75%;
	}
}
@media screen and (min-width: 1900px) {
	/* For Big TV's (HD Screens)  */
	section:nth-of-type(2) .container img,
	section:nth-of-type(4) .container img {
		width: 117%;
	}
	section:nth-of-type(2) .container .row,
	section:nth-of-type(4) .container .row {
		height: 75%;
	}
}
/* Section 3 style  */
section:nth-of-type(3) {
	background: var(--bg-veryDarkGrayBlue);
	background-image: url("../images/bg-pattern-circles.svg");
	background-image: url("../images/bg-pattern-circles.svg"),
		linear-gradient(
			155deg,
			var(--bg-veryDarkGrayBlue) 27%,
			var(--bg-veryDarkDesaturtedBlue) 70%
		);
	background-position: start;
	background-repeat: no-repeat;
	background-position-y: 80%;
	border-bottom-left-radius: 3em;
	border-top-right-radius: 3em;
	height: 70vh;
}
section:nth-of-type(3) img {
	top: -25%;
	left: 0;
}
@media only screen and (max-width: 600px) {
	/* For Mobile */
	section:nth-of-type(3) {
		margin-top: 20em;
		background-position: bottom;
		background-size: cover;
	}
	section:nth-of-type(3) img {
		margin-top: -10em;
	}
	section:nth-of-type(3) p {
		font-size: 1em !important;
	}
}
@media screen and (min-width: 768px) {
	/* For Laptops */
	section:nth-of-type(3) {
		height: 70vh;
	}
	section:nth-of-type(3) .image {
		position: relative;
	}
	section:nth-of-type(3) .image img {
		position: absolute;
	}
}
@media screen and (min-width: 1200px) {
	/* For Big TV's (HD Screens)  */
	section:nth-of-type(3) {
		height: 40vh;
	}
}

/* footer style  */
footer {
	min-height: 35vh;
	background: var(--bg-veryDarkGrayBlue);
	border-top-right-radius: 3em;
	color: white;
}
footer ul li {
	position: relative;
}
footer ul li::after {
	transition: all var(--main-transition) ease-in-out;
	position: absolute;
	content: "";
	bottom: 0;
	height: 2px;
	width: 0%;
	background-color: #eee;
	opacity: 0.5;
}
footer ul li:hover::after {
	width: 25%;
}
@media only screen and (max-width: 600px) {
	footer .navbar-brand {
		font-size: 2em !important;
	}
}
